<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <title>Proxity.AI</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="admin_panel" class="brand">
			
			<video class="circular-video" controls="false" autoplay loop>
				<source src="static\img\Proxity.ai (2).mp4" type="video/mp4">
				Your browser does not support the video tag.
			  </video>
			<span class="text" style="font-family: Orbitron, sans-serif;">proxity.AI</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="admin_panel">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="my_avatar">
					<i class='bx bxs-face' ></i>
					<span class="text">Avatar</span>
				</a>
			</li>
			<!-- <li>
				<a href="#">
					<i class='bx bx-mail-send' ></i>
					<span class="text">Send Invite Link</span>
				</a>
			</li> -->
			<li>
				<a href="your_convo">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Manage</span>
				</a>
			</li>
			<!-- <li>
				<a href="interact_avatar">
					<i class='bx bxs-group' ></i>
					<span class="text">Interact with Avatar</span>
				</a>
			</li> -->
		<
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			<a href="#" class="profile">
				<img src="{{ url_for('static', filename='img/Madhu.png') }}" class="rounded-circle user_img_msg">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		

        <main>
			<div class="content">
				<h1>Submit your details</h1>
				<form method="POST" action="/my_avatar" enctype="multipart/form-data" class="form-horizontal">
					
					<div class="form-group">
						<label class="control-label col-sm-2" for="text">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="name">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="email">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" name="email">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="text">About Your Personality:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="personality">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="text">About Your Personal Life:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="personal_life">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="text">About Your Profession:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="profession">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">Upload Image:</label>
						<div class="col-sm-10">
							<input type="file" class="form-control" name="photo">
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-sm-2">Upload Audio:</label>
						<div class="col-sm-10">
							<input type="file" class="form-control" name="voice_sample">
						</div>
					</div>

					<br>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
    			</form>
			</div>
		</main>
    </section>
    <script src="script.js"></script>
	<script src="{{ url_for('static', filename='admin_script.js') }}"></script>
</body>
</html>
