<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <title>Your Conversations</title>

</head>

<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="admin_panel" class="brand">
			
			<video class="circular-video" controls="false" autoplay loop>
				<source src="static\img\Proxity.ai (2).mp4" type="video/mp4">
				Your browser does not support the video tag.
			  </video>
			<span class="text" style="font-family: Orbitron, sans-serif;">proxity.AI</span>>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="admin_panel">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="my_avatar">
					<i class='bx bxs-face' ></i>
					<span class="text">Avatar</span>
				</a>
			</li>
			<!-- <li>
				<a href="#">
					<i class='bx bx-mail-send' ></i>
					<span class="text">Send Invite Link</span>
				</a>
			</li> -->
			<li>
				<a href="your_convo">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Manage</span>
				</a>
			</li>
			<!-- <li>
				<a href="interact_avatar">
					<i class='bx bxs-group' ></i>
					<span class="text">Interact with Avatar</span>
				</a>
			</li> -->
		
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

			<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			
			
			<a href="#" class="profile">
				<img src="{{ url_for('static', filename='img/Madhu.png') }}" class="rounded-circle user_img_msg">
			</a>
		</nav>
        <main class="mt-5">
            <div class="text-center">
				<h1>Your Conversations</h1>
				<hr>
			</div>

            <!-- List of Conversations -->
				<div class="mt-4" id="summary-log">
				</div>   
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
	<script>
		function isToday(date) {
			const today = new Date();
			return date.getDate() == today.getDate() &&
				date.getMonth() == today.getMonth() &&
				date.getFullYear() == today.getFullYear();
		}
		
		function isYesterday(date) {
			const yesterday = new Date();
			yesterday.setDate(yesterday.getDate() - 1);
			return date.getDate() == yesterday.getDate() &&
				date.getMonth() == yesterday.getMonth() &&
				date.getFullYear() == yesterday.getFullYear();
		}
		
		function isInLastWeek(date) {
			const today = new Date();
			const lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
			return date > lastWeek;
		}
		
		function updateSummaryLog(data) {
			var summaryLog = document.getElementById("summary-log");
			summaryLog.innerHTML = "";
		
			let sections = {
				today: [],
				yesterday: [],
				lastWeek: [],
				earlier: []
			};
		
			for (var i = 0; i < data.length; i++) {
				const conversationDate = new Date(data[i].timestamp);
				if (isToday(conversationDate)) {
					sections.today.push(data[i]);
				} else if (isYesterday(conversationDate)) {
					sections.yesterday.push(data[i]);
				} else if (isInLastWeek(conversationDate)) {
					sections.lastWeek.push(data[i]);
				} else {
					sections.earlier.push(data[i]);
				}
			}
		
			for (let [key, conversations] of Object.entries(sections)) {
				if (conversations.length === 0) continue; // Skip if there's no conversation in this section
			
				let sectionTitle = document.createElement("h3");
				sectionTitle.innerText = key.charAt(0).toUpperCase() + key.slice(1); // Convert to Title Case
				summaryLog.appendChild(sectionTitle);
			
				// Reverse the conversations for the latest to appear on top
				conversations.reverse().forEach(conversation => {
					const summaryCard = document.createElement("div");
					summaryCard.className = "card";
			
					const summaryHeader = document.createElement("div");
					summaryHeader.className = "card-header";
					summaryHeader.innerHTML = "Timestamp: " + new Date(conversation.timestamp).toLocaleString() +
											  " | User: " + conversation.user_email.split('@')[0];
					
					const summaryContent = document.createElement("div");
					summaryContent.className = "card-body";
					summaryContent.innerHTML = conversation.summary;
			
					const viewDetailButton = document.createElement("a");
					viewDetailButton.href = "/conversation_detail/" + conversation._id.$oid;
					viewDetailButton.className = "btn btn-primary";
					viewDetailButton.innerHTML = "View Detail";
			
					summaryCard.appendChild(summaryHeader);
					summaryCard.appendChild(summaryContent);
					summaryCard.appendChild(viewDetailButton);
					summaryLog.appendChild(summaryCard);
				});
			}
		}
		
		fetch("/get_chat")
			.then(response => response.json())
			.then(data => updateSummaryLog(data));
	</script>
	
	<script src="{{ url_for('static', filename='admin_script.js') }}"></script>
</body>
</html>
